.step {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.step .step-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.step .step-buttons button {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-light);
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.step .step-buttons button:disabled {
  opacity: 0.5;
}

.step .step-buttons .step-button-next {
  margin-left: auto;
}