html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: var(--color-bg);
}

h1, h2, h3, h4, p, li, a, button, input, label {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}

p {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}