.page {
  padding-top: 5.5rem;
}

.page .header .header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page .header .header-actions button {
  color: var(--color-light);
  font-size: 1.4rem;
  margin-left: 1rem;
}

.page section h1 {
  color: var(--color-dark);
  margin-bottom: 0.8rem;
  width: 100%;
  text-align: left;
}

.page .meal-info .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}