.food-quantity-modal {
  width: 90%;
}

.food-quantity-modal .modal-container {
  padding: 1rem;
}

.food-quantity-modal label {
  color: var(--color-grey);
}

.food-quantity-modal .quantity-input {
  margin-top: 5px;
}

.food-quantity-modal .btn-save {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-light);
  background-color: var(--color-dark);
  cursor: pointer;
  margin-top: 1rem;
}