.food-item .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.food-item .actions button {
  font-size: 1.2rem;
  color: var(--color-grey);
  margin-left: 5px;
}