.meals {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem;
}

.meals li .meal-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.meals li .new-meal-card {
  justify-content: center;
}

.meals li .meal-card .icon {
  font-size: 1.2rem;
}

.meals li .meal-card .icon-card {
  border-radius: 50%;
  padding: 1rem;
  color: var(--color-light);
}

.meals li .meal-card .icon-delete {
  color: var(--color-grey);
}

.meals li .meal-card .icon-add {
  color: var(--color-dark);
}

.meals li .meal-card .meal-description {
  width: 100%;
  margin-left: 1.5rem;
}

.meals li .meal-card h3 {
  color: var(--color-dark);
}

.meals li .meal-card time {
  color: var(--color-grey);
}

.meals li .meal-card p {
  color: var(--color-energy);
  font-weight: 700;
}

.meals li .new-meal-card h3 {
  margin-left: 1rem;
}