.resume {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.resume h2 {
  width: 100%;
  text-align: left;
  color: var(--color-dark);
}

.resume p {
  color: var(--color-grey);
}

.resume .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.resume .container ul {
  margin-left: 2rem;
}

.resume .container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.resume .container ul li .icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.resume .container ul li .icon-energy {
  color: var(--color-grey-light);
}

.resume .container ul li .icon-food {
  color: var(--color-primary);
}

.resume .container ul li p b {
  margin-top: 20px;
}
